body {
  background-position: center, center;
  background-repeat: inherit;
  background-attachment: fixed;
  background-size: 100%;
  margin: 0;
}

img {
  width: 100%;
}


.image {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  position: center;
  margin: 50px;
  -webkit-animation:spin 30s linear infinite;
  -moz-animation:spin 30s linear infinite;
  animation:spin 30s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.text-center {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.spacer20 {
  height: 20px;
}

.spacer50 {
  height: 50px;
}

.spacer100 {
  height: 100px;
}

p {
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14pt;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(59, 59, 59, 0.534);
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
}

li a:hover:not(.active) {
  color:  rgb(95, 122, 72);
  background-color: rgba(71, 71, 71, 0.644);
}

li a:hover {
  color: rgb(88, 47, 17);
}

.active {
  font-weight: bold;
  background-color: rgba(82, 107, 62, 0.75);
}

a:hover {
  font-weight: bolder;
}


/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 7px solid whitesmoke;
  border-radius: 50%;
  border-top: 7px solid darkolivegreen;
  width: 90px;
  height: 90px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}